h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    color: #ffffff;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}


h1 {
    background-color: rgb(200, 7, 7);
    padding: 20px 20px 20px 20px;
}

main {
    background-color: white;
    padding: 20px 30px 20px 30px;
}

p {
    text-align: justify;
}

footer {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 20px 60px 20px 60px;
}

footer {
    margin-top: 30px;
    background-color: rgb(200, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
}

footer p {
    text-align: center;
}

nav ul {
    list-style-type: circle; /* none, disc, circle, square */
    margin:0;
    padding: 0;
  }

nav li {
    padding: 10px;
    margin: 10px;
    width: 150px;
  }

nav li {
    display: inline-block;
    padding: 0;
    margin: 10px;
    width: 150px;
    color: #ffffff;
  }

nav li a {
    color: #ffffff;
    display: block;
    padding: 10px;
    background-color: rgb(200, 7, 7);
  }

  nav li a:hover {
    background-color: blue;
  } 

a {
    text-decoration: none;
    font-weight: bold;
}

.center {
    text-align: center;
}

#wrapper {
    width: 960px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 75px;
}

header {
    grid-column: span 12;
}

nav {
    grid-row: span 12;
}

main {
    grid-column: span 12;
}

footer {
    grid-column: span 12;
}